body {
    margin: 0;
    padding: 0;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  .game-title {
    text-shadow: 3px 3px 0px rgba(0, 0, 0 0.1);
  }

  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 80%;
    height: 40%;
  }
  
  .boards-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .battleship-grid {
    margin: 2vmin;
    display: grid;
    background-color: blue;
    grid-template-rows: repeat(10, 3vmin);
    grid-template-columns: repeat(10, 3vmin);
  }
  
  .taken,
  .ship {
    position: relative;
    background-color: hsl(0, 0%, 100%);
  }

  
  .grid-display {
    display: flex;
    flex-direction: column;
    margin-left: 2vmin;
    
  }
  
  
  .ship > div {
    width: 3vmin;
    height: 3vmin;
  }

  .destroyer-container {
    background-color: white;
  }
  
  .submarine-container {
    background-color: green;
  }

  .cruiser-container{
    background-color: yellow;
  }

  .battleship-container {
    background-color: brown;
  }

  .carrier-container > div {
    background-color: purple;
  }


  
  .taken.destroyer {
    background-color: white;
  }
  
  .taken.submarine {
    background-color: green;
  }

  .taken.cruiser{
    background-color: yellow;
  }

  .taken.battleship {
    background-color: brown;
  }

  .taken.carrier {
    background-color: purple;
  }



  
  .ship {
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(3vmin * var(--width, 1));
    height: calc(3vmin * var(--height, 1));
  }
  
  .battleship-grid div {
    border: 1px solid black;
    transition: box-shadow;
  }
  
  .battleship-grid div:hover {
     box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8);
  }
  .destroyer-container {
    --width: 2;
  }
  
  .destroyer-container-vertical {
    --height: 2;
    --width: 1;
  }
  
  .submarine-container,
  .cruiser-container {
    --width: 3;
  }
  
  .submarine-container-vertical,
  .cruiser-container-vertical {
    --height: 3;
    --width: 1;
  }
  
  .battleship-container {
    --width: 4;
  }
  
  .battleship-container-vertical {
    --height: 4;
    --width: 1;
  }
  
  .carrier-container {
    --width: 5;
  }
  
  .carrier-container-vertical {
    --height: 5;
    --width: 1;
  }
  
  .hidden-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 2vmin;
    
  }
  
  .info-text {
    margin: 1rem;
    color: white;
  }
  
  .miss,
  .boom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boom::after,
  .miss::after {
    content: '';
    position: absolute;
   
    width: 3vmin;
    height: 3vmin;
  }
  
  .miss::after {
    background-color: rgb(0, 0, 0);
  }
  
  .boom::after {
    background-color: red;
  }
  
  .miss::before {
    content: '';
    position: absolute;
    width: 3vmin;
    height: 3vmin;
  }
  
  .boom {
    animation: boom .2s ease-out forwards;
  }

  .player {
    margin: 2vmin;
  }
  
  .connected, .ready {
    font-weight: normal;
    opacity: .25;
    text-decoration: line-through;
  }
  
  .connected.active,
  .ready.active {
    opacity: 1;
    text-decoration: none;
  }